
.out{
    text-align: center;
}

.title{
    color: rgb(245, 222, 179);
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    background-color: #1f3540;
    border: 4px solid;
    border-color: #0f1b21;
    border-radius: 15px;
    cursor: pointer;
    font-size: 8rem;
    color:#26ffcb ;

}

.board{
    display: flex;
    margin:  auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width : 600px;
}

.reset{
    width: 150px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px ;
    background-color: #1f3540;
    color: #26ffcb;
    margin: 25px 25px 50px 25px;
    font-size: 24px;
}

.reset:hover {
    background-color: 	#3366cc;
  }

.boxes:hover {
    background-color: 	#3366cc;
}