
.out{
    text-align: center;
}

.title{
    color: rgb(245, 222, 179);
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    background-color: #1f3540;
    border: 4px solid;
    border-color: #0f1b21;
    border-radius: 15px;
    cursor: pointer;
    font-size: 8rem;
    color:#26ffcb ;

}

.board{
    display: flex;
    margin:  auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width : 600px;
}

.reset{
    width: 150px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px ;
    background-color: #1f3540;
    color: #26ffcb;
    margin: 25px 25px 50px 25px;
    font-size: 24px;
}

.reset:hover {
    background-color: 	#3366cc;
  }

.boxes:hover {
    background-color: 	#3366cc;
}

/* Media Queries */

/* For screens with a maximum width of 1200px */
@media (max-width: 1200px) {
    .board {
       width: 500px;
       height: 500px;
     }
    .boxes {
       width: 150px;
       height: 150px;
       font-size: 6rem;
     }
    .reset {
       width: 120px;
       height: 50px;
       font-size: 20px;
     }
   }
   
   /* For screens with a maximum width of 900px */
   @media (max-width: 900px) {
    .board {
       width: 400px;
       height: 400px;
     }
    .boxes {
       width: 120px;
       height: 120px;
       font-size: 5rem;
     }
    .reset {
       width: 100px;
       height: 40px;
       font-size: 18px;
     }
   }
   
   /* For screens with a maximum width of 600px */
   @media (max-width: 600px) {
    .board {
       width: 300px;
       height: 300px;
     }
    .boxes {
       width: 90px;
       height: 90px;
       font-size: 4rem;
     }
    .reset {
       width: 80px;
       height: 30px;
       font-size: 16px;
     }
   }
   
   /* For screens with a maximum width of 400px */
   @media (max-width: 400px) {
    .board {
       width: 250px;
       height: 250px;
     }
    .boxes {
       width: 70px;
       height: 70px;
       font-size: 3rem;
     }
    .reset {
       width: 60px;
       height: 25px;
       font-size: 14px;
     }
   }
